body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.container {
    margin: 0px auto;
    min-height: 100vh;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 20px;
    font-weight: 500;
}

p {
    margin: 0;
    font-size: 12px;
    color: #5c5c5c;
}

a {
    transition: 800ms;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.behance:hover {
    transition: 800ms;
    color: #4176FA;
}

.dribbble:hover {
    transition: 800ms;
    color: #F26798;
}

.telegram:hover {
    transition: 800ms;
    color: #37AEE2;
}

.left {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin-right: 20px;
}

.right {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer {
    width: 300px;
}

.about {
    margin-bottom: 20px;
}

.freelance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freelance a:hover {
    transition: 800ms;
    color: #30ab3a;
}

.data {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: start;
}

.contact {
    transition: 800ms;
    display: block;
    text-align: center;
    line-height: 30px;
    width: 100px;
    height: 30px;
    background: #000;
    color: #fff;
    border-radius: 100px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.contact:hover {
    transition: 800ms;
    background: #5c5c5c;
}

a.telegram {
    margin: 0;
}

.works {
    transition: 800ms;
    display: block;
    text-align: center;
    line-height: 26px;
    width: 96px;
    height: 26px;
    border-radius: 100px;
    font-size: 12px;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.works:hover {
    transition: 800ms;
    background: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 700px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 40px;
        min-height: 100vh;
    }

    .left {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .links {
        display: flex;
        justify-content: start;
    }

    .freelance {
        display: none;
    }

    h1 {
        margin: 0;
        margin-bottom: 20px;
    }

    .buttons {
        display: flex;
        justify-content: start;
    }

    .contact {
        margin-right: 10px;
    }

    .right {
        min-height: 60vh;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }  

@media screen and (max-width: 480px) {
    .container {
        max-width: 450px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .right {
        margin: 20px 0;
    }

    .logo {
        margin-bottom: 10px;
    }
}