$font-stack: 'Golos Text', sans-serif;
$primary-color: #2a2a2a;
$background-color: #f9f9f9;
$hover-color: #999;

@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-column-gap: 1%;
}

@mixin selection {
    background-color: $primary-color;
    color: $background-color;
}

@mixin font {
    font-family: $font-stack;
    font-size: 1.1vw;
    line-height: 120%;
    letter-spacing: -0.05em;
}

* { scroll-behavior: smooth; }

*::-moz-selection { @include selection; }
*::selection { @include selection; }

body {
    @include font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    overflow-x: hidden;
    animation: 2s show ease;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    margin: 0 auto;
    width: 98%;
}

p, a {
    margin: 0;
    padding: 0;
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: $hover-color;
    transition: 0.5s;
}

header {
    @include grid;
    height: 4vw;
    position: fixed;
    top: 0;
    right: 1%;
    left: 1%;
    z-index: 1000;
    align-items: center;
    .logo a { color: $primary-color; }
    .nav a {
        margin-right: 2%;
        &:last-child { margin-right: 0; }
    }
}

.works {
    @include grid;
    grid-row-gap: 4%;
    width: 100%;
    padding-top: 4vw;
    margin-bottom: 200px;
    .work, .cover { 
        width: 100%; 
        .cover-link {
            transition: 0.5s;
            display: inline-block;
            overflow: hidden;
            margin-bottom: 1%;
            .cover {
                transition: 500ms;
                display: block;
                &:hover {
                    transition: 500ms;
                    transform: scale(1.03); 
                }
            }
        }
        .work-link {
            color: $primary-color;   
            &:hover { color: $hover-color; }
        }
    }
}

.about {
    @include grid;
    margin-bottom: 200px;
    padding-top: 4vw;
    .title { color: $hover-color; }
    .text { width: 90%; }
    .lists {
        width: 90%;
        display: flex;
        align-self: start;
        justify-content: space-between;
    }
}

footer {
    @include grid;
    height: 4vw;
    margin: 0;
    align-items: center;
    .social a { margin-right: 2%; }
    .mail { color: $primary-color; }
    .copyright { justify-self: end; }
}

.work-page {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.work-cover img {
    width: 100%;
}

.work-images {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 20px;
    margin-bottom: 20px;
}

.work-image {
    margin-bottom: 20px;
}

.work-image img {
    width: 100%;
}

.work-images img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    header {
        grid-gap: 0px;
    }

    .works {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cover:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 100%;  
    }

    .works {
        display: grid;
        grid-template-columns: 100%;
    }

    .work-page {
        margin-top: 80px;
    }

    .work-images {
        display: grid;
        grid-template-columns: 1fr;  
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    
}  

@media screen and (max-width: 480px) {
    footer {
        align-items: end;
        height: 60px;
        margin-bottom: 20px;
    }

    .contacts {
        align-items: start;
        flex-direction: column;
    }

    .mail {
        display: none;
    }
}