body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Golos Text', sans-serif;

    background-color: #F5F5F5;
    color: #3b3b3b;
}

.container {
    margin: 0px auto;
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 24;
    margin: 0 0 10 0;
}

h3 {
    margin: 0;
    margin-bottom: 5px;
}

p {
    margin: 0;
    font-size: 16;
    color: #3b3b3b;
}

a {
    font-weight: 500;
    transition: 400ms;
    text-decoration: none;
    color: #3b3b3b;
    font-size: 16;
}

a:hover {
    transition: 400ms;
    color: #aaaaaa;
}

/* left block */

.left {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts a {
    margin-right: 20px;
}

.contacts a:last-child {
    margin-right: 0;
}

/* right block */

.right {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3b3b;
}

/* index */

.designer:hover {
    transition: 400ms;
    color: #4176FA;  
}

.freelance:hover {
    transition: 400ms;
    color: #29e47a;
}

.offer {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px; 
}

.offer p {
    margin-bottom: 20px;
}

/* about */

.about {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 20px; 
}

.skills {
    margin-bottom: 60px;
}

.about img {
    width: 400px;
    margin-bottom: 40px;
}

.title {
    margin: 40px 0 10px 0;
}

/* process */

.process {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* works */

.works {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;  
}

.work {
    margin-bottom: 80px;
}

.cover {
    width: 400px;
    border-radius: 10px;
    transition: 400ms;
    margin-bottom: 10px;
}

.cover:hover {
    filter: brightness(70%);
    transition: 400ms;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 700px;
    }

    .left {
        display: none;
    }
  }  

@media screen and (max-width: 480px) {
    .container {
        max-width: 460px;
    }

    h1 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .about img {
        width: 380px;
        margin-bottom: 40px;
    }

    .offer {
        width: 380px;
        margin-top: 80px;
        margin-bottom: 80px; 
    }
    
    .process {
        width: 380px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .about {
        width: 380px;
        margin-top: 80px;
        margin-bottom: 20px; 
    }
    
    .cover {
        width: 380px;
        border-radius: 10px;
        transition: 400ms;
        margin-bottom: 10px;
    }

    .works {
        width: 380px;
        margin-top: 80px;
        margin-bottom: 80px;  
    }
}