body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.container {
    margin: 0px auto;
    min-height: 100vh;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 25px;
    font-weight: 500;
}

p {
    margin: 0;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.behance:hover {
    color: #4176FA;
}

.dribbble:hover {
    color: #F26798;
}

.telegram:hover {
    color: #37AEE2;
}

.left {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin-right: 20px;
}

.right {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about {
    margin-bottom: 20px;
}

.freelance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freelance a:hover {
    color: #86ff90;
}

.data {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 170px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
}

.contact:hover {
    text-decoration: none;
    background-color: #636363;
    color: #fff;
}

a.telegram {
    margin: 0;
}

.works {
    display: block;
    text-align: center;
    line-height: 36px;
    width: 160px;
    height: 36px;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.works:hover {
    background-color: #636363;
    color: #fff;
    text-decoration: none;
    border: 2px solid #636363;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 700px;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 40px;
        min-height: 100vh;
    }

    .left {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .links {
        display: flex;
        justify-content: start;
    }

    .freelance {
        margin: 0;
    }

    h1 {
        margin: 0;
        margin-bottom: 20px;
    }

    .buttons {
        display: flex;
        justify-content: start;
    }

    .contact {
        margin-right: 10px;
    }

    .right {
        min-height: 80vh;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }  

@media screen and (max-width: 480px) {
    .container {
        max-width: 450px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .right {
        margin: 20px 0;
    }

    .logo {
        margin-bottom: 10px;
    }

    .contact {
        width: 140px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .works {
        width: 140px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;

    }
}