body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.container {
    margin: 0px auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
    font-size: 20px;
    letter-spacing: -1px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 60px;
    
    position: fixed;
    
    top: 0px;
    right: 2%;
    left: 2%;

    background-color: #fff;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.item {
	position: relative;
    letter-spacing: -0.05em;
	color: #000;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}

.item:after {
	display: block;
	position: absolute;
    bottom: -5px;
	left: 0;
	width: 0;
    height: 1.5px;
	background-color: #000;
	content: "";
	transition: width 0.3s ease-out;
}

.item:hover:after,
.item:focus:after {
	width: 100%;
}

/* info */

.info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 100vh;
}

.info p {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -0.05em;
}

.info a {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: -1px;
	position: relative;
    letter-spacing: -0.02em;
	color: #000;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}

.info a:after {
	display: block;
	position: absolute;
	left: 0;
    bottom: -3px;
	width: 100%;
    height: 1px;
	background-color: #000;
	content: "";
	transition: width 0.3s ease-out;
}

.info a:hover:after,
.info a:focus:after {
	width: 0%;
}

/* works */

.works {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 200px;
}

.row {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;  
}

.work {
    width: 49%;
    text-align: center;
}

.work a {
    width: 100%;
    font-size: 20px;
    letter-spacing: -1px;
}

.name {
    font-weight: 600;
}

.tags {
    font-size: 14px;
}

.cover {
    width: 100%;
}

.cover-link {
    margin-bottom: 10px;
    transition: 800ms;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
   
.cover {
    transition: 800ms;
    display: block;
}

.cover:hover {
    transform: scale(1.1);
}   

/* about */

.about {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 200px;
    letter-spacing: -1px;
}

.title {
    color: #757575;
    margin-bottom: 20px;
}

/* footer */

.social a {
	position: relative;
    letter-spacing: -1px;
	color: #000;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;

}

.social a:after {
	display: block;
	position: absolute;
	left: 0;
    bottom: -5px;
	width: 100%;
    height: 1.5px;
	background-color: #000;
	content: "";
	transition: width 0.3s ease-out;
}

.social a:hover:after,
.social a:focus:after {
	width: 0%;
}

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.mail {
    margin-right: 40px;
}

footer p {
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .info p {
        font-size: 42px;
    }

    .about {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .about div {
        margin-bottom: 40px;
    }

    .cover:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .info {
        margin-top: 200px;
        height: auto;
    }

    .info p {
        font-size: 36px;
    } 

    .row {
        flex-direction: column;
        width: 100%;
    }

    .work {
        width: 100%;
        margin-bottom: 40px;
    }

    .info a {
        display: none;
    }
}  

@media screen and (max-width: 480px) {
    body {
        padding: 0 15px;
    }

    header {
        right: 15px;
        left: 15px;
    }

    p {
        font-size: 14px;
    }

    .info p {
        font-size: 24px;
        letter-spacing: -1px;
    }

    a {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    p {
        font-size: 14px;
    }

    .info p {
        font-size: 24px;
        letter-spacing: -1px;
    }

    a {
        font-size: 14px;
    }

    .works {
        margin-bottom: 100px;
    }

    .about {
        height: auto;
        margin: 0;
        margin-bottom: 100px;
    }

    footer p {
        display: none;
    }
}