body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.container {
    margin: 0px auto;
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 24;
    font-weight: bold;
    margin-top: 0;
}

h3 {
    margin: 0;
    margin-bottom: 5px;
}

p {
    margin: 0;
    font-size: 16;
    color: #aaaaaa;
}

a {
    font-weight: 500;
    transition: 400ms;
    text-decoration: none;
    color: #000;
    font-size: 16;
}

a:hover {
    transition: 400ms;
    color: #aaaaaa;
}

.designer:hover {
    transition: 400ms;
    color: #4176FA;  
}

.freelance:hover {
    transition: 400ms;
    color: #29e47a;
}

.behance:hover {
    transition: 400ms;
    color: #4176FA;
}

.dribbble:hover {
    transition: 400ms;
    color: #F26798;
}

.telegram:hover {
    transition: 400ms;
    color: #37AEE2;
}

a .telegram {
    margin: 0;
}

.left {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin-right: 20px;
}

.right {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    margin-bottom: 60px;
}

.content {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px; 
}

.process {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.avatar {
    width: 120px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.aboutme {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 20px; 
}

.works {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;  
}

.work {
    margin-bottom: 80px;
}

.cover {
    width: 400px;
    border-radius: 10px;
    transition: 400ms;
    margin-bottom: 10px;
}

.cover:hover {
    filter: brightness(70%);
    transition: 400ms;
}

.about {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 700px;
    }

    .left {
        display: none;
    }
  }  

@media screen and (max-width: 480px) {
    .container {
        max-width: 440px;
    }

    h1 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .content {
        width: 300px;
        margin-top: 80px;
        margin-bottom: 80px; 
    }
    
    .process {
        width: 300px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .aboutme {
        width: 300px;
        margin-top: 80px;
        margin-bottom: 20px; 
    }
    
    .works {
        width: 300px;
        margin-top: 80px;
        margin-bottom: 80px;  
    }
}