$font-stack: 'Golos Text', sans-serif;
$primary-color: #999;
$background-color: #f1f1f1;
$hover-color: #577693;

@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-column-gap: 1%;
}

@mixin selection {
    background-color: $hover-color;
    color: $background-color;
}

@mixin font {
    font-family: $font-stack;
    font-size: 1.1vw;
    line-height: 120%;
    letter-spacing: -0.05em;
}

html { scroll-behavior: smooth; }

*::-moz-selection { @include selection; }
*::selection { @include selection; }

body {
    @include font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 98%;
}

p, a {
    margin: 0;
    padding: 0;
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: $hover-color;
    transition: 0.5s;
}

header {
    @include grid;
    background-color: $background-color;
    height: 4vw;
    position: fixed;
    top: 0;
    right: 1%;
    left: 1%;
    z-index: 1000;
    align-items: center;
    .logo a { color: $primary-color; }
    .nav a {
        margin-right: 2%;
        &:last-child { margin-right: 0; }
    }
    .telegram { justify-self: end; }
}

.works {
    @include grid;
    grid-row-gap: 4%;
    width: 100%;
    padding-top: 4vw;
    margin-bottom: 200px;
    .work, .cover { 
        width: 100%; 
        .cover-link {
            transition: 0.5s;
            display: inline-block;
            overflow: hidden;
            margin-bottom: 1%;
            position: relative;
            .txt {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 100;
                background-color: $hover-color;
                color: $background-color;
                display: inline;
                padding: 5px 10px;
                text-align: center;
                border-radius: 100px;
            }
            .cover {
                transition: 500ms;
                display: block;
                &:hover {
                    transition: 500ms;
                    transform: scale(1.03); 
                }
            }
        }
        .work-link {
            color: $primary-color;   
            &:hover { color: $hover-color; }
        }
    }
    animation: 2s show ease;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.about {
    @include grid;
    margin-bottom: 200px;
    padding-top: 4vw;
    .text {
        width: 90%;
        color: #2e2e2e;
    }
    .lists {
        width: 90%;
    }
}

footer {
    @include grid;
    height: 4vw;
    margin: 0;
    align-items: center;
    .social a { margin-right: 2%; }
    .mail { color: $primary-color; }
    .copyright { justify-self: end; }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.5vw;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    .telegram {
        display: none;
    }

    .works {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2%;
    }
    
    .cover:hover {
        transform: scale(1);
    }
    
    .about {
        grid-template-columns: 1fr 1fr;
        .information { margin-bottom: 2em;}
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }  

    .copyright {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 3vw;
    }

    .container {
        width: 94%;
    }

    header {
        height: 7vw;
        left: 3%;
        right: 3%;
    }

    .nav {
        display: flex;
        justify-content: end;
    }

    .about {
        grid-template-columns: 100%;
        margin-bottom: 100px;
        .information { margin-bottom: 2em;} 
        .harmony { margin-bottom: 2em;} 
    }

    .works {
        padding-top: 7vw;
        grid-template-columns: 100%;
        grid-row-gap: 1%;
        margin-bottom: 300px;
    }

    .text, .lists {
        width: 100%;
    }
    
    footer {
        height: 7vw;
    }

    .social {
        display: flex;
        justify-content: end;
    }
} 