html {
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #577693;
  color: #f1f1f1;
}

*::selection {
  background-color: #577693;
  color: #f1f1f1;
}

body {
  font-family: "Golos Text", sans-serif;
  font-size: 1.1vw;
  line-height: 120%;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 98%;
}

p, a {
  margin: 0;
  padding: 0;
  color: #999;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #577693;
  transition: 0.5s;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  background-color: #f1f1f1;
  height: 4vw;
  position: fixed;
  top: 0;
  right: 1%;
  left: 1%;
  z-index: 1000;
  align-items: center;
}
header .logo a {
  color: #999;
}
header .nav a {
  margin-right: 2%;
}
header .nav a:last-child {
  margin-right: 0;
}
header .telegram {
  justify-self: end;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 4%;
  width: 100%;
  padding-top: 4vw;
  margin-bottom: 200px;
  animation: 2s show ease;
}
.works .work, .works .cover {
  width: 100%;
}
.works .work .cover-link, .works .cover .cover-link {
  transition: 0.5s;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 1%;
  position: relative;
}
.works .work .cover-link .txt, .works .cover .cover-link .txt {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: #577693;
  color: #f1f1f1;
  font-size: 0.9vw;
  width: 6vw;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 100px;
}
.works .work .cover-link .cover, .works .cover .cover-link .cover {
  transition: 500ms;
  display: block;
}
.works .work .cover-link .cover:hover, .works .cover .cover-link .cover:hover {
  transition: 500ms;
  transform: scale(1.03);
}
.works .work .work-link, .works .cover .work-link {
  color: #999;
}
.works .work .work-link:hover, .works .cover .work-link:hover {
  color: #577693;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  margin-bottom: 200px;
  padding-top: 4vw;
}
.about .title {
  font-style: italic;
}
.about .text {
  width: 90%;
}
.about .lists {
  width: 90%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  height: 4vw;
  margin: 0;
  align-items: center;
}
footer .social a {
  margin-right: 2%;
}
footer .mail {
  color: #999;
}
footer .copyright {
  justify-self: end;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1.5vw;
  }
  header {
    grid-template-columns: 1fr 1fr;
  }
  .telegram {
    display: none;
  }
  .works {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2%;
  }
  .cover:hover {
    transform: scale(1);
  }
  .about {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    grid-template-columns: 1fr 1fr;
  }
  .copyright {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 3vw;
  }
  .container {
    width: 94%;
  }
  header {
    height: 7vw;
    left: 3%;
    right: 3%;
  }
  .nav {
    display: flex;
    justify-content: end;
  }
  .about {
    grid-template-columns: 100%;
    margin-bottom: 100px;
  }
  .works {
    padding: 0;
    margin-top: 7vw;
    grid-template-columns: 100%;
    grid-row-gap: 1%;
    margin-bottom: 300px;
  }
  .text, .lists {
    width: 100%;
  }
  footer {
    height: 7vw;
  }
  .social {
    display: flex;
    justify-content: end;
  }
}/*# sourceMappingURL=style.css.map */