* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.container {
    margin: 0px auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
    color: #777777;
    font-size: 12px;
}

a {
    margin: 0;
    color: #777777;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    color: #000000; 
}

/* header */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 20px;

    height: 40px;
    
    position: fixed;
    top: 0px;
    right: 2%;
    left: 2%;

    background-color: #fff;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav a {
    margin-right: 20px;
}

/* works */

.works {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-column-gap: 20px;
    grid-row-gap: 40px;

    width: 100%;
    padding-top: 40px;
    margin-bottom: 80px;
}

.work {
    width: 100%;
}

.description {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.year {
    font-size: 8px;
    margin: 0;
    color: #000;
}

.work-name {
    margin: 0;
    padding: 0;
    width: 80%;
}

.work-link {
    font-size: 12px;
}

.tags {
    color: #000;
}

.cover {
    width: 100%;
}

.cover-link {
    transition: 500ms;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    margin-bottom: 10px;
}
   
.cover {
    transition: 500ms;
    display: block;
}

.cover:hover {
    transition: 500ms;
    transform: scale(1.03);
}   

/* about */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 20px;

    margin-bottom: 80px;
}

.title {
    color: #000;
    margin-bottom: 10px;
}

.experience {
    margin-bottom: 40px;
}

.skills {
    display: flex;
    align-items: start;
    justify-content: start;
}

.skills p:first-child {
    margin-right: 40px;
}

/* footer */

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social a {
    margin-left: 20px;
}

footer {
    height: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 20px;

    
    margin: 0;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #000;
}

.mail {
    color: #000;
}

footer p {
    font-size: 12px;
}

@media screen and (max-width: 1024px) {
    .works {
        display: grid;
        grid-template-columns: 100%;
    }

    .about {
        
    }

    .about div {
        margin-bottom: 40px;
    }

    .cover:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 100%;  
    }
}  

@media screen and (max-width: 480px) {
    body {
        padding: 0 15px;
    }

    header {
        right: 15px;
        left: 15px;
    }

    footer {
        align-items: end;
        height: 60px;
        margin-bottom: 20px;
    }

    .contacts {
        align-items: end;
    }

    .social {
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }
}