$font-stack: 'Golos Text', sans-serif;
$primary-color: #222222;
$background-color: #FCFCFC;
$hover-color: #577693;

@mixin selection {
    background-color: $hover-color;
    color: $background-color;
}

@mixin font {
    font-family: $font-stack;
    font-size: 1.4vw;
    line-height: 130%;
    letter-spacing: -0.05em;
}

html { scroll-behavior: smooth; }

*::-moz-selection { @include selection; }
*::selection { @include selection; }

body {
    @include font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    overflow-x: hidden;
    color: $primary-color;
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 60%;
}

p, a {
    margin: 0;
    padding: 0;
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: $hover-color;
    transition: 0.5s;
}

.text {
    width: 90%;
}

.medium {
    font-weight: 500;
}

.project-image {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color;
    height: 4vw;
    position: fixed;
    top: 0;
    right: 20%;
    left: 20%;
    z-index: 1000;
    align-items: center;
    .logo a { color: $primary-color; }
    .contacts {
        display: flex;
        justify-content: start;
        a {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.works {
    width: 100%;
    margin-bottom: 100px;
    padding-top: 4vw;
    .work, .cover { 
        width: 100%; 
        .cover-link {
            transition: 0.5s;
            display: inline-block;
            overflow: hidden;
            margin-bottom: 1%;
            position: relative;
            .txt {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 100;
                background-color: $hover-color;
                color: $background-color;
                display: inline;
                padding: 5px 10px;
                text-align: center;
                border-radius: 100px;
            }
            .cover {
                transition: 500ms;
                display: block;
                &:hover {
                    transition: 500ms;
                    transform: scale(1.03); 
                }
            }
        }
    }
    animation: 2s show ease;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.about {
    margin-bottom: 100px;
    padding-top: 4vw;
    .lists {
        width: 90%;
    }
}

footer {
    background-color: $background-color;
    height: 4vw;
    margin: 0;
    align-items: center;
    .copyright { justify-self: start; }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.6vw;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    .telegram {
        display: none;
    }

    .works {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2%;
    }
    
    .cover:hover {
        transform: scale(1);
    }
    
    .about {
        grid-template-columns: 1fr 1fr;
        .information { margin-bottom: 2em;}
    }

    footer {
        background-color: $background-color;
        height: 4vw;
        margin: 0;
        align-items: center;
        .copyright { justify-self: start; }
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 4vw;
    }

    .container {
        width: 94%;
    }

    header {
        grid-template-columns: 1fr;
        height: 10vw;
        left: 3%;
        right: 3%;
    }

    .contacts {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: end;
    }

    .about {
        grid-template-columns: 100%;
        margin-bottom: 100px;
        .information { margin-bottom: 2em;} 
        .harmony { margin-bottom: 2em;} 
    }

    .works {
        padding-top: 7vw;
        grid-template-columns: 100%;
        grid-row-gap: 1%;
        margin-bottom: 100px;
    }

    .text, .lists {
        width: 100%;
    }
    
    footer {
        height: 7vw;
    }
} 